<main class="holder">
    <div class="historia">
        <h2>Historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fugit quisquam eaque vel rerum porro ea
            debitis quibusdam distinctio atque culpa in, corrupti dolorem a, numquam cumque maiores impedit magni.
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque minima necessitatibus expedita. Fugit
            reprehenderit magni sed. Illum quibusdam necessitatibus maxime eos ipsam quis, corporis voluptate
            perspiciatis sequi dolor, molestias numquam.</p>
    </div>
    <div class="staff">
        <div class="encabezado">
            <h2>Staff</h2>
            <a class="btn btn-success" href="/admin/nosotros/incorporar"><i class="fa fa-plus" aria-hidden="true"></i> Incorporar al Staff</a>
        </div>
        <div class="personas">
                {{#each nosotros}}
            <div class="persona">
                    <p>{{{imagen}}}</p>
                    <h5>{{nombre}} {{apellido}}</h5>
                    <h6>{{puesto}}</h6>
                    <p>{{descripcion}}</p>
                    <a class="btn btn-secondary" href="/admin/nosotros/editar/{{id_staff}}">Editar<i class="fa fa-pencil"></i></a>
                    <a class="btn btn-secondary" href="/admin/nosotros/borrar/{{id_staff}}">Borrar<i class="fa fa-trash"></i></a>
            </div>
                {{/each}}
        </div>
    </div>
</main>